.mainContainer {
  height: 55vh;
  position: absolute;
  left: 23%;
  bottom: 28vh;
  width: 75%;
  border-radius: 30px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.mainContainer::-webkit-scrollbar {
  display: none;
}

.items {
  height: 30vh;
  width: 15%;
  margin: 10px;
  cursor: pointer;
}

.items img {
  height: 25vh;
  width: 100%;
  border-radius: 10px;
}

.items h5 {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .mainContainer {
    left: calc(38% + 10px);
    width: 50%;
  }

  .items {
    height: 30vh;
    width: 70%;
  }

  .items img {
    height: 20vh;
    width: 100%;
  }
}
